.note-checkbox:checked {
    background: #F88805;
    border: 2px solid #F88805;
    outline: none;
    margin-left:0px;
    margin-right:0px;
    opacity: 1;
}

.note-checkbox {
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border: 2px solid #555555;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0.8rem;
    margin-left:0px;
    margin-top:10px;
    margin-right:0px;
    margin-bottom:0px;
    outline: none;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}

.note-checkbox:checked+span{
    text-decoration: line-through;
    color:#F88805;
    opacity: 0.4;
}